
    
          <!-- Mango Section -->
          <section class="my-5">
            <div class="container" >
              <div class="Mango" >
                  <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 pt-4" >
                      <img src="./assets/Images/mangobackcircle.png" id="img_mango_Circle" alt="">
                      <img src="./assets/Images/mangoTruck.png" id="img_mango_truck" alt="">
                    </div>
                    <div class="col-lg-8 col-md-6 col-sm-7">
                      <img src="./assets/Images/mangobanner.png" id="mango_banner" alt="">
                    </div>
                  </div>
              </div>
            </div>
          </section>
       <!-- end Mango Section -->

       
         <!-- Airplane Section -->
        <!-- <section class="my-5">
          <div class="container">
            <div class="airplane">
              <div class="airplan-back ">
                <div class="row">
                  <div class="col-lg-5 col-md-4 col-sm-12 text-white mx-5 pt-4" >
                    <h1 style="font-family: Arial, Helvetica, sans-serif;" id="plane-heading">From Around the corner to around the globe</h1>
                    <p class="pt-2 small" id="plane-text"> We will take care of your cargo of your passanger and deliver them safe on time. </p>
                    <button class="btn btn-dark " id="plane-btn"> Contact Us</button>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <img src="./assets/Images/Frame 2608731.png" id="img_circle" alt="">
  
                    <img src="./assets/Images/airplane.png"  id="img_plane" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section> -->
         <!-- end Airplane Section -->