

<div class="container-fluid" id="hero" style="background-color: none;" >
    <div class="container">
      <div class="container" style="padding-top: 7rem;"></div>
      <div class="row mt-5 align-items-center">
          <!-- Left Content Side -->
        <div class="col-lg-6 col-md-6 col-xs-12 text-div  d-flex ">
          <div class="text_div1 text_size ">
            <h1 class="fw-bold">
              We can move your <span class="line-break">Parcel everywhere.</span>
              <span class="highlight">Fast and Easily</span>
            </h1>
          <p>We are honored to be a leading and reliable partner<span class="line-break">in the field of Logistics in Pakistan</span></p>
          </div>

          <div class="text_div2 text_size ">
            <h1 class="fw-bold ">Your Trusted <span class="line-break">Delivery Partner </span>  <span class="highlight">Nationwide</span></h1>
            <p>We are honored to be a leading and reliable partner in the field of Logistics in Pakistan</p>
          </div>

          <div class="text_div3 text_size ">
              <h1 class="fw-bold ">Urgent Shipment <span class="line-break"> Delivery </span>  <span class="highlight">Smart Cargo</span></h1>
              <p>Urgent Shipment Delivery with</p>

              <div class="row mt-4  ">
                <div class="col-6 shipment_delivery_icon">
                  <img src="./assets/Images/locations 1.png"  alt=""> <span>Terminal to Terminal </span>
                </div>
                <div class="col-6 shipment_delivery_icon">
                  <img src="./assets/Images/delivery-truck 1.png"  alt=""> <span>Real Time Tracking </span>
                </div>
                <div class="col-6 mt-4 shipment_delivery_icon">
                  <img src="./assets/Images/responsible (1) 1.png"  alt=""> <span>Same Day Service </span>
                </div>
                <div class="col-6 mt-4 shipment_delivery_icon">
                  <img src="./assets/Images/24-hours-support 1.png"  alt=""> <span>R24/7 Customer Support</span>
                </div>
              </div>
          </div>

          <div class="text_div4 text_size ">
              <h1 class="fw-bold ">Now Delivering <br> <span class="highlight">Worldwide</span></h1>
              <p>We are honored to be a leading and reliable partner in the field of Logistics in Pakistan</p>
          </div>

          <div class="text_div5 text_size">
            <h1 class="fw-bold ">Real Time <br> <span class="highlight">Tracking</span></h1>
            <p>Track your shipment on the Go! <span class="fw-bold">Get the app now.</span> </p>
            <div id="" class="my-4">
              <img src="./assets/Images/appstore-icon-mobile-retina 3.png" class="" width="30%" alt="">
              <img src="./assets/Images/appstore-icon-mobile-retina 2.png" class="" width="30%" alt="">
            </div>
          </div>

          <div class="text_div6 text_size no-compress">
            <h1 class="fw-bold">
               سردیوں کی سوغات تازہ راس بھرے کینو اب آپ کی دہلیز پر
            </h1>
          </div>

        </div>
        <!-- Image Side Right -->
        <div class="col-lg-6 col-md-6 col-xs-12">

          <div class="img1 ">
            <img src="./assets/Images/FastEx Truck 1.png" id="truk_pic"  alt="">
            <img src="./assets/Images/Frame 2608727.png" id="boy_pic" alt="">
          </div>

          <div class="img2 ">
            <img src="./assets/Images/minar.png" id="minare_pak" alt="">
          </div>

          <div class="img3 ">
            <img src="./assets/Images/Model.png" id="pickup" alt="">
          </div>

          <div class="img4 ">
            <img src="./assets/Images/Glob_aliplane.png" id="global_img" alt="">
          </div>

          <div class="img5">
              <img src="./assets/Images/mobilePic_top.png" id="mobilePic_top" alt="">          
          </div>
          <div class="img6 ">
            <img src="./assets/Images/orange-season.jpg" id="orange" alt="">
          </div>
        </div>

        <!-- Search Bar   -->
          <div class="row height d-flex justify-content-center align-items-center ">
            <div class="col-lg-6 col-md-8 col-sm-12 ">
              <div class="row search_main">
                <div class="col-8 search">
                  <i class="fa fa-search"></i>
                  <input type="number" class="form-control" placeholder="Enter Consignment No or Barcode for Tracking ">
                </div>
                <div class="col-2 search">
                  <button class="btn btn-danger">Track Shipment</button>
                </div>
              </div>
            </div>
          </div>
      
      </div>
      <!-- Widget Item  -->
      
      <div class="row  pb-5 d-flex justify-content-center  below_tracking_btn">             
        <div class="col-xl-2 col-md-3 col-sm-6 pb-3">
          <a  class="dropdown-item">
            <div class="card text-center">
                <div class="card-body">
                    <div class="mx-auto my-3">
                        <img src="./assets/Images/lucide_calculator.png" alt="">
                    </div>
                    <p class="text-muted mb-0 line-ellipsis track_icon_below">Tariff Calculator</p>
                </div>
            </div>
          </a>  
        </div>
        <div class="col-xl-2 col-md-3 col-sm-6 pb-3" >
          <a class="dropdown-item">
            <div class="card text-center">
                <div class="card-body">
                    <div class="mx-auto my-3">
                       <img src="./assets/Images/mdi_map-marker-path.png" alt="">
                    </div>
                    <p class="mb-0">Search Location</p>
                </div>
            </div>
          </a>  
        </div>
        <div class="col-xl-2 col-md-3 col-sm-6 pb-3">
          <a  class="dropdown-item">
            <div class="card text-center">
                <div class="card-body">
                    <div class="mx-auto my-3">
                      <img src="./assets/Images/ic_baseline-card-membership.png" alt="">
                    </div>
                    <p class="mb-0 ">MemberShip</p>
                </div>
            </div>
          </a>  
        </div>
      </div>
    </div>
  </div>

