     <!-- ======= Frequently Asked Questions ======= -->
  
     <section  class="" id="" style="background-color: none;">
        <div class="container">
          <div class="row d-flex justify-content-center align-items-center">
            <h1 class="pt-5 text-center">Frequently Asked Questions</h1>
            <p class=" pt-3 text-center">Here are some frequntly asked question users ask when using FastEx</p>
          </div>
          <div class="d-flex justify-content-center mb-5">
            <button  class="btn btn-outline-primary"> <a class="nav-link" routerLink="/faqs">View All</a></button>
        </div>
          <div class="accordion" id="accordionExample">
            <div class="accordion-item frequently-asked">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button frequently-asked " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                 <strong>How can I track a consignment?</strong> 
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  To track your shipment, insert your consignment number in the consignment tracker on top of the homepage to review the complete status of your consignment.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button frequently-asked collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <strong>What are the services provided by FastEX?</strong> 
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                   To view our range of services, click the Services tab on top of the FastEX homepage.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button frequently-asked collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <strong>Which FastEX service center is near to my location?</strong> 
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                 To find the nearest FastEX service center to your location, you can Go to the Location Page <a class="nav-link text-primary " routerLink="/location">Find Near Office</a>
                 <h4>Steps:</h4>
                 <ul>
                  <li>Click the Link above</li>
                  <li>Select current city </li>
                  <li>Select Agent/Franchis </li>
                  <li>Click Submit button to find Agent/Franchise near by you. </li>
                 </ul>
  
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button frequently-asked collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  <strong>How much does FastEX charge as insurance for high-value goods?</strong> 
                </button>
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  FastEX offers insurance for high-value goods at a flat rate of 2% of the item's market value.
                  <h5>Example Calculation:</h5>
                  <ul>
                    <li>Market Value of Item: PKR 100,000</li>
                    <li>Insurance Rate: 2%</li>
                    <li>Insurance Cost: PKR 100,000 × 2% = PKR 2,000</li>
                  </ul>
                  This means insuring an item worth PKR 100,000 would cost PKR 2,000.
                  <h5>Important Considerations:</h5>
                  <ul>
                    <li>Proper Packaging: Ensure that high-value items, especially fragile goods, are properly packed and labeled. FastEX requires fragile items to be 
                      packed with a fragile sticker and does not assume responsibility, claims, or insurance for improperly packed goods. </li>               
                      <li>Claim Period: All claims for lost or damaged shipments must be submitted in writing to FastEX within thirty (30) days from the shipment acceptance date. </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button frequently-asked collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  <strong>Which items are prohibited for delivery?</strong> 
                </button>
              </h2>
              <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                <div class="accordion-body">

                  FastEX will not accept the following items as shipment:

                  Currency, jewelry, bullion, antiques, liquor, stamps, precious metals & stones ,works of art, fire arms ,plants, drugs, explosives, animals, industrial carbons and diamonds, hazardous and combustible materials, smuggled items, socially unacceptable items and any item whose distribution is regulated by law.
               
                </div>
              </div>
            </div>
          </div>
        </div>


  </section>

  <!-- ======= End Frequently Asked Questions ======= -->