<section  class="pb-5"  id="" style="background-color: none;">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <h1 class="pt-5 text-center">Contact Us</h1>

        <div class="container mt-5 mb-3">
          <div class="row">
            <div class="h5">Get in touch with Us</div>
            <div class="col-lg-8 col-md-12 col-sm-12 mt-3" >
              <p><i class="fa fa-phone-alt mr-2 "></i> <span class="m-3">+92-321-4297477</span> </p>
              <p><i class="fa fa-envelope mr-2"></i> <span class="m-3">mtaimoor,h&commat;gmail.com</span> </p>
              <p><i class="fa fa-map-marker-alt mr-2"></i><span class="m-3"> 231-A Ferozpur Road Lahore 54000 Kalma Chowk Lahore Pakistan.</span> </p>

              <div class="row">
                <div class="col-6">
                  <div class=" px-2 mt-4 ">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3398.387329080289!2d74.34313857540914!3d31.595844874179498!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39191b100e96fe31%3A0xc2799d05e806569c!2sKalma%20Chowk%2C%20Lahore%2C%20Punjab%2C%20Pakistan!5e0!3m2!1sen!2sus!4v1721285193747!5m2!1sen!2sus" class="border border-5 map_fram"  style="border-radius: 20px;border: 2px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                  </div>
                </div>
              </div> 
            </div>


            <div class="col-lg-4 col-md-12 col-sm-12 mt-3" >
              <form>

                <div class="col-md-12 mb-3">
                  <div class="form-group">                      
                    <input type="text" class="form-control form-control-input"  id="customername" maxlength="50"
                     placeholder="" name="customername"/>
                    <label class="form-control-label">Full Name</label>
                  </div>
                </div>

                <div class="col-md-12 mb-3">
                  <div class="form-group">                      
                    <input type="text" class="form-control form-control-input"  id="customername" maxlength="50"
                     placeholder="" name="customername"/>
                    <label class="form-control-label">E-mail</label>
                  </div>
                </div> 

                <div class="col-md-12 mb-3">
                  <div class="form-group">                      
                    <input type="text" class="form-control form-control-input"  id="customername" maxlength="50"
                     placeholder="" name="customername"/>
                    <label class="form-control-label">Mobile No</label>
                  </div>
                </div> 
                

                <div class="col-md-12 mb-3 ">
                  <div class="mb-3">
                    <label class="form-label ">Select City</label>
                    <select class="form-select " id="city"  name="city"   aria-invalid="false"  
                    placholder="Select City" >
                      <option  value="" disabled selected>Select City</option>
                      <option  value="" >Lahore</option>
                      <option  value="" >Karachi</option>
                      <option  value="" >Mumbai</option>
                      <option  value="" >Delhi</option>
                    </select>
                  </div>
                </div>

                <div class="col-12 mb-3">
                  <div class="form-group">                      
                    <textarea class="form-control form-control-input" placeholder=""  id="message" name="message" rows="5" ></textarea>
                    <label class="form-control-label label-textarea">Message</label>
                  </div>
                </div> 

                <div class="d-flex justify-content-end me-3 pe-2 me-lg-4 pe-lg-2">
                  <button class="submitbtn" type="submit" >Submit</button>        
                </div> 

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>