<section id="clients" class="clients section-bg" >
    <div class="container clients-container">

      <div class="image-slider">
        <div class="slider-track">
          <div class="client-logo"><img src="./assets/Images/TLC.png" alt="TLC"></div>
          <div class="client-logo"><img src="./assets/Images/airlink.png" alt="Airlink"></div>
          <div class="client-logo"><img src="./assets/Images/DHL.png" alt="DHL"></div>
          <div class="client-logo"><img src="./assets/Images/advance_telecome.png" alt="Advance Telecome"></div>
          <div class="client-logo"><img src="./assets/Images/sanasafinaz.png" alt="Sana Safinaz"></div>
          <div class="client-logo"><img src="./assets/Images/circle.png" alt="Circle"></div>
          <div class="client-logo"><img src="./assets/Images/zellbury.png" alt="Zellbury"></div>
          <div class="client-logo"><img src="./assets/Images/khaadi-logo-HD.jpg" alt="Khaadi"></div>
          <div class="client-logo"><img src="./assets/Images/junaid_J.png" alt="Junaid J."></div>
          <div class="client-logo"><img src="./assets/Images/limelight.png" alt="Limelight"></div>
          <div class="client-logo"><img src="./assets/Images/nishat.png" alt="Nishat"></div>
          <div class="client-logo"><img src="./assets/Images/Sapphire_Logo.png" alt="Sapphire"></div>
          <div class="client-logo"><img src="./assets/Images/nabi_qasim.jpg" alt="Nabi Qasim"></div>
          <div class="client-logo"><img src="./assets/Images/ibl-healthcare.png" alt="IBL Healthcare"></div>
          <div class="client-logo"><img src="./assets/Images/BeyondEast.jpg" alt="Beyond East"></div>
          <!-- <div class="client-logo"><img src="./assets/Images/Missrose.webp" alt="Miss Rose"></div>             -->
         
          <!-- Duplicate list -->
          <div class="client-logo"><img src="./assets/Images/TLC.png" alt="TLC"></div>
          <div class="client-logo"><img src="./assets/Images/airlink.png" alt="Airlink"></div>
          <div class="client-logo"><img src="./assets/Images/DHL.png" alt="DHL"></div>
          <div class="client-logo"><img src="./assets/Images/advance_telecome.png" alt="Advance Telecome"></div>
          <div class="client-logo"><img src="./assets/Images/sanasafinaz.png" alt="Sana Safinaz"></div>
          <div class="client-logo"><img src="./assets/Images/circle.png" alt="Circle"></div>
          <div class="client-logo"><img src="./assets/Images/zellbury.png" alt="Zellbury"></div>
          <div class="client-logo"><img src="./assets/Images/khaadi-logo-HD.jpg" alt="Khaadi"></div>
          <div class="client-logo"><img src="./assets/Images/junaid_J.png" alt="Junaid J."></div>
          <div class="client-logo"><img src="./assets/Images/limelight.png" alt="Limelight"></div>
          <div class="client-logo"><img src="./assets/Images/nishat.png" alt="Nishat"></div>
          <div class="client-logo"><img src="./assets/Images/Sapphire_Logo.png" alt="Sapphire"></div>
          <div class="client-logo"><img src="./assets/Images/nabi_qasim.jpg" alt="Nabi Qasim"></div>
          <div class="client-logo"><img src="./assets/Images/ibl-healthcare.png" alt="IBL Healthcare"></div>
          <div class="client-logo"><img src="./assets/Images/BeyondEast.jpg" alt="Beyond East"></div>
          <!-- <div class="client-logo"><img src="./assets/Images/Missrose.webp" alt="Miss Rose"></div> -->
        </div>
      </div> 
    </div>
  </section>