      <!-- ======= offer Section ======= -->

        <div class="container">
            <div class="row d-flex justify-content-center align-items-center mb-3">
                <div class="col-12">
                    <h1 class="pt-5 mt-5 text-center">What We Offer</h1>
                </div>         
                    <div class="col-8">
                        <p class="text-center" >DAEWOO Fastex offers a comprehensive suite of logistics solutions,
                            tailored to meet the unique needs of our valued customers. Our services include:</p>
                    </div>       
                </div>


               
                 
                <div class="row h-100">

                    <div class="col-xl-3 col-md-6 col-sm-12 mb-4" *ngFor="let data of offerData">
                        <div class="card card-color h-100" >
                            <div class="card-body">
                                <h5 class="card-title ">
                                    <img [src]="data.circleImg ? './assets/Images/' + data.circleImg : ''" class="img" alt="">
                                    <img [src]="'./assets/Images/' + data.image" class="img" [ngStyle]="data.circleImg ? {'margin-left': '-3.5rem'} : {}"  alt="">
                                </h5>
                                <h6 class="card-subtitle mb-2 my-3">{{data.title}}</h6>
                                <p class="card-text">{{data.desc}}</p>
                                
                            </div>
                            <!-- <a class="mx-3 nav-link mb-3" style="color: #0066B3;">Read more</a> -->
                        </div>
                    </div>
                </div>
    
        </div>

      <!-- End  Service -->