 
      <!-- ======= Mobile App Section ======= -->
  
      <section class="my-5">
        <div class="container">
          <div class="mobile-blue">
            <div class="mobile-back">
              <h1 class="d-flex justify-content-center">Fastex Mobile App Available</h1>
              <p class="d-flex justify-content-center" id="p1"> Track your shipment on the Go! Get the app now.</p>
              <p id="p2"> "Experience seamless cargo tracking and management at your fingertips with our mobile app. 
                Designed exclusively for our valued customers, the app ensures you stay updated with real-time shipment 
                details, delivery statuses, and much more. Download now to enjoy the convenience of managing your cargo 
                from anywhere! Available on both the Google Play Store and Apple App Store."</p>

              <div id="mobile_store" class="my-4">
                <a href="https://play.google.com/store/search?q=fastex+daewoo&c=apps" target="_blank">
                  <img 
                      src="./assets/Images/appstore-icon-mobile-retina 3.png" 
                      class="plystore_btn" 
                      alt="App Store Icon"
                  >
              </a>
              <a href="https://apps.apple.com/us/app/daewoo-fastex/id1508114526" target="_blank">
                <img 
                    src="./assets/Images/appstore-icon-mobile-retina 2.png" 
                    class="plystore_btn" 
                    alt="App Store Icon"
                >
            </a>
                <!-- <img src="./assets/Images/appstore-icon-mobile-retina 2.png" class="plystore_btn" alt=""> -->
              </div>
              <img src="./assets/Images/Frame2608732.png" id="mobile_circle" alt="">
              <img src="./assets/Images/mobile_pic.png" id="mobile_pic" alt="">


            </div>
          </div>
        </div>
    </section>  
    <!-- ======= Mobile App Section ======= -->