
  <main class="main main_div" id="top">
    <a href="tel:042-111-007-009" ><img src="./assets/Images/callbtn.png" id="tollNo" alt=""></a>
    <div class="bg-white">
      <div class="content" >
        <app-hero-section></app-hero-section>
        <app-client-section></app-client-section>
        <app-company-section></app-company-section>   
        <app-service-section></app-service-section>     
        <app-stiker-section></app-stiker-section>
        <app-offer-section></app-offer-section>
        <app-mobile-section></app-mobile-section>
        <app-client-message-section></app-client-message-section>
        <app-question-section></app-question-section>
        <app-contact-section></app-contact-section>  
      </div>
    </div> 
  </main>









